<html>
	<head>
		<title>Mailings-2</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	</head>
	{% set cu = app.request.locale | capitalize %}
	<body
		bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
		<!-- Save for Web Slices (Mailings-2) -->
		<table id="Table_01" width="600" border="0" cellpadding="0" cellspacing="0" >
			<tr>
				<td>
					<img style="display: inline-block; margin: 2% 0;" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ '/images/logo_correo.png' }}"  alt="">
				</td>
			
				<td>
					<h2 style="display: inline-block; width: 90%; color: #FC241C; background-color: #FFF; padding: 2% 5%; 'Roboto Black'; text-align: center; font: 1.800em 'Arial'; ">
						!Muchas gracias por tu compra¡<br>
                        Estos son los datos de tu pedido
					</h2>
				</td>
			</tr>
			
			<tr>
				<td colspan="2">
					<!--dware-->
					<table style="border: 1px solid #ddd ; width: 96%; margin: 2%; text-align: center; font-family:Arial;">
						<thead>
							<th style="text-align: left;">{{ qi.textoDB('c_produc') }}</th>
							<th>{{ qi.textoDB('c_quantity') }}</th>
							<th>{{ qi.textoDB('c_price') }}</th>
							<th>{{ qi.textoDB('c_iva') }}</th>
							<th>{{ qi.textoDB('c_total') }}</th>
						</thead>
                        <tbody style="background-color:#f9f9f9">

						{% set total = 0 %}
						{% set totalIva = 0 %}

						{% for item in summary %}
							<tr>
								<td>
									
									<p style="width: 50%; display: inline-block; vertical-align: middle;">
										<span style="width: 100%; display: inline-block;">{{ attribute(item.producto,'nombre' ~ cu) }}</span>
									</p>
								</td>
								<td>{{ item.cantidad }}</td>
								<td>${{ (item.precio-item.precioIva) /  item.cantidad | number_format(0) }}</td>

								<td>${{ item.precioIva | number_format(0) }}</td>
								<td>${{ (item.precio ) | number_format(0) }}</td>
							</tr>
							{% set total = total + (item.precio) %}

							{% set totalIva = totalIva + item.precioIva  %}


						{% endfor %}

						{% set totalIva = totalIva + valor_iva_envio %}
						<tr>
							<td></td>
							<td></td>
                            <td></td>
							<td>{{ qi.textoDB('c_total_iva') }}</td>
							<td>{{ totalIva | number_format }}</td>

						</tr>

						<tr>
							<td></td>
                            <td></td>
							<td></td>
							<td>{{ qi.textoDB('c_total_envio') }}</td>
							<td>{{ compra.getCostoEnvio() | number_format }}</td>
						</tr>
						<tr>
                        	<td></td>
							<td></td>
							<td></td>
							<td>{{ qi.textoDB('c_total') }}</td>
							<td>{{ (total + costo_envio_mas_iva) | number_format }}</td>
						</tr>
                        </tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td></td>
			</tr>
			<tr>
				<td></td>
			</tr>
		</table>
		<!-- End Save for Web Slices -->
	</body>
</html>